<div class="modal fade" id="searchModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content search-content">
            <div class="modal-body">

                {{!-- Search box --}}
                <input id="ghost-search-field" class="form-control" placeholder="Type here">

                {{!-- Area to display search result --}}
                <ul id="ghost-search-results"></ul>

                {{!-- Close Button --}}
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="searchCloseButton"></button>
            </div>
        </div>
    </div>
</div>